<!DOCTYPE html>
<html xmlns="http:://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1>Formulario</h1>
        <a href="/">Volver</a>
        <form th:action="@{/guardar}" method="get" th:object="${empresa}">
            <input type="hidden" name="e_id" th:field="*{e_id}">
            <input type="text" id="e_nombre" name="e_nombre" placeholder="Ingrese el nombre de la empresa" th:field="*{e_nombre}">
            <input type="text" id="e_direccion" name="e_direccion" placeholder="Ingrese el nombre de la empresa" th:field="*{e_direccion}">
            <input type="text" id="e_telefono" name="e_telefono" placeholder="Ingrese el nombre de la empresa" th:field="*{e_telefono}">
           
            <!-- Desde aca no funciona pq aca queremos relacionar con usuario y no nos sale -->
            <input type="text" id="e_id" name="e_usuarios" placeholder="Ingrese el nombre de la empresa" th:field="*{e_usuarios}">
            <input type="text" id="e_productos" name="e_productos" placeholder="Ingrese el nombre de la empresa" th:field="*{e_productos}">
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>