<!DOCTYPE html>
<html xmlns="http:://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
        
        <div th:fragment="empresasformAgg" style="border: 1px solid black; padding: 10px; margin: 10px;">
         
            <h1>Formulario</h1>
            <a type="button" class="btn btn-outline-light" style="background-color: #D98880" href="/empresas/"><i class="fas fa-backward"></i></a>
            <div class="row g-3 align-items-center">
            <form th:action="@{/empresas/guardar}" method="post" th:object="${empresa}">
                <input type="hidden" name="e_id" th:field="*{e_id}">
                <label for="disabledTextInput" class="form-label">Nombre</label>
                <input type="text" id="e_nombre" name="e_nombre" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese el nombre de la empresa" th:field="*{e_nombre}">
                <label for="disabledTextInput" class="form-label">Direccion</label>
                <input type="text" id="e_direccion" name="e_direccion" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese la dirección de la empresa" th:field="*{e_direccion}">
                <label for="disabledTextInput" class="form-label">Telefono</label>
                <input type="text" id="e_telefono" name="e_telefono" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese el telefono de la empresa" th:field="*{e_telefono}">
                <button type="submit" class="btn btn-outline-light" style="background-color: #D98880"><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
        </div>
        
    </body>
</html>