<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
        <div th:fragment="empresaslista">
            <h1 style="margin-bottom: 30px">Empresas</h1>
        <div class="col-8">   
            <a type="button" class="btn btn-outline-light" style="background-color: #D98880; margin-bottom: 10px" href="/empresas/nuevo"><i class="fa-solid fa-plus"></i></a>
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Empresa</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>  </th>
                    <th>  </th>
                </tr>
                <tr th:each="e: ${empresas}">
                    <td th:text="${e.e_id}"></td>
                    <td th:text="${e.e_nombre}"></td>
                    <td th:text="${e.e_direccion}"></td>
                    <td th:text="${e.e_telefono}"></td>
                    <td><a type="button" class="btn btn-outline-light" style="background-color: #D98880" th:href="@{/empresas/editar/}+${e.e_id}" ><i class="fas fa-edit"></i></a></td>
                    <td><a type="button" class="btn btn-outline-light" style="background-color: #CB4335" th:href="@{/empresas/borrar/}+${e.e_id}" ><i class="fas fa-trash"></i></a></td>
                    <td><a type="button" class="btn btn-outline-light" style="background-color: #D98880" th:href="@{/empresas/}+${e.e_id}+@{/productos}" ><i class="fa-solid fa-users"></i> Productos</a></td>
                </tr>

            </table>
                                   
            </div>
        </div>
        
            </div> 
        </div>
    </body>
</html>      
                