<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Registro de Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="usuarioformRegistro">
            <h1>Formulario de Registro de Usuarios</h1>
            <a type="button" class="btn btn-outline-light" style="background-color: #D98880" href="#">Volver</a>
            <div class="row g-3 align-items-center">
                
                <div th:if=${param.exito}>
                    <div class="alert alert-info">
                        El usuario se ha registrado exitosamente
                    </div> 
                </div>
                  
            <form th:action="@{/registro}" method="post" th:object="${usuario}">
                <input type="hidden" name="u_id" th:field="*{u_id}">
                <label for="disabledTextInput" class="form-label">Nombre</label>
                <input type="text" id="u_nombre" name="u_nombre" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese su nombre de usuario" th:field="*{u_nombre}">
                <label for="disabledTextInput" class="form-label">Correo</label>
                <input type="email" id="u_correo" name="u_correo" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese su correo electrónico" th:field="*{u_correo}">
                <label for="disabledTextInput" class="form-label">Nombre</label>
                <input type="password" id="u_contrasena" name="u_contrasena" class="form-control" aria-describedby="passwordHelpInline" placeholder="Ingrese su contraseña" th:field="*{u_contrasena}">
                
                <button type="submit" class="btn btn-outline-light" style="background-color: #D98880">Enviar</button>
            </form>
        </div>
        </div>
    </body>
</html>
