<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="productoLista"><h1>LISTA</h1>
        <div class="col-8">   
            <h1 th:each="p: ${productos[0]}" th:text="@{Productos de: }+${p.marca.m_nombre}"></h1>
            <a href="/empresas/producto/nuevo">Nuevo</a>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Memoria de Almacenamiento</th>
                    <th>Memoria RAM</th>
                    <th>Sistema Operativo</th>
                    <th>Procesador</th>
                    <th>Pantalla</th>
                    <th>Empresa</th>

                </tr>
                <tr th:each="p: ${productos}">
                    <td th:text="${p.p_id}"></td>
                    <td th:text="${p.p_nombre}"></td>
                    <td th:text="${p.p_descripcion}"></td>
                    <td th:text="${p.p_almacenamiento}"></td>
                    <td th:text="${p.p_ram}"></td>
                    <td th:text="${p.p_sistemaOperativo}"></td>
                    <td th:text="${p.p_procesador}"></td>
                    <td th:text="${p.p_pantalla}"></td>
                    <td th:text="${p.empresa != null ? p.empresa.e_nombre : ''}"></td>
                    <td><a type="button" class="btn btn-success" th:href="@{/empresas/producto/editar/}+${p.p_id}" >Editar</a></td>
                    <td><a type="button" class="btn btn-danger" th:href="@{/empresas/producto/borrar/}+${p.p_id}" >Borrar</a></td>
                    </tr>

            </table>
             </div>
        </div>
            </div> 
        </div>
    </body>
</html>
